<section id="main-carousel" class="carousel slide" data-ride="carousel">		 
		<ol class="carousel-indicators">
			<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
			<li data-target="#main-carousel" data-slide-to="1"></li>
			<li data-target="#main-carousel" data-slide-to="2"></li>
			<li data-target="#main-carousel" data-slide-to="3"></li>
			<li data-target="#main-carousel" data-slide-to="4"></li>
		</ol><!--/.carousel-indicators-->
		
		<div class="carousel-inner">
			<div class="item active" style="background-image: url(assets/images/slider/ourGarden.jpg)">
				<div class="container carousel-caption">							
					<h2 class="heading animated bounceInRight">Chillout <span>zone</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated bounceInLeft">A peaceful sanctuary for busy minds</p>				
				</div>
			</div>
			<div class="item" style="background-image: url(assets/images/slider/gardenProject.jpg)">
				<div class="container carousel-caption">							
					<h2 class="heading animated swing">The garden <span>project</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated swing">Building community through gardening</p>				
				</div>
			</div>
			<div class="item" style="background-image: url(assets/images/slider/polytunnel.jpg)">
				<div class="container carousel-caption">							
					<h2 class="heading animated bounceInDown">The <span>polytunnel</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated bounceInUp">A promising start!</p>				
				</div>
			</div>
			<div class="item" style="background-image: url(assets/images/slider/northRun.jpg)">
				<div class="container carousel-caption">							
					<h2 class="heading animated fadeInLeftBig">Great North <span>Run</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated fadeInRightBig">Isobel raises £600 for Kate's Kitchen</p>				
				</div>
			</div>
			<div class="item" style="background-image: url(assets/images/slider/volunteerWeek.jpg)">
				<div class="container carousel-caption">							
					<h2 class="heading animated fadeInRightBig">Volunteer <span>week</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated fadeInLeftBig">Congratulations to David Dobson. Thank-you for all your hard work.</p>				
				</div>
			</div>
			<div class="item" style="background-image: url(assets/images/slider/foodProject.jpg)">
				<div class="container carousel-caption">							
					<h2 class="heading animated fadeInRightBig">Let's get <span>growing</span><i class="fa fa-chevron-right"></i></h2>
					<p class="slide-info animated fadeInLeftBig">All hands on deck</p>				
				</div>
			</div>
		</div> 	
    </section><!--/#main-carousel--> 