<div class="our-team">
			<div class="container">
				<h2 class="wow fadeIn" data-wow-duration="1200ms" data-wow-delay="300ms">Meet the <span>Team</span></h2>
				<div class="row">
					<div class="col-sm-4">
						<div class="team-member wow flipInY" data-wow-duration="1200ms" data-wow-delay="300ms">
							<div class="single-member">
								<img class="img-responsive" src="assets/images/about-us/anne.jpg" alt="" />	
								<h3>Ann McLachlan</h3>
								<p>Manager</p>
							</div>
							<div class="overlay">
								<p>A photo and instead of the facebook links etc we could do brief bio here.</p>
								<ul>
									<li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a class="google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member wow flipInY" data-wow-duration="1500ms" data-wow-delay="600ms">
							<div class="single-member">
								<img class="img-responsive" src="assets/images/about-us/karen.jpg" alt="" />	
								<h3>Karen Brown</h3>
								<p>Operations Manager</p>
							</div>
							<div class="overlay">
								
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="team-member wow flipInY" data-wow-duration="1800ms" data-wow-delay="900ms">
							<div class="single-member">
								<img class="img-responsive" src="assets/images/about-us/kirsty.jpg" alt="" />	
								<h3>Kirsty McEwen</h3>
								<p>Support Co-ordinator</p>
							</div>
							<div class="overlay">
								<p>Another row after this - of course!!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!--/#our team--> 