<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

<body>
	
	{% include loader.html %}
	
	{% include header.html %}

    {% include maincarousel.html %}
	
	{% include services.html %}
	
	<section id="about-us">
		
		{% include about.html %}
		
		{% include team.html %}
		
	</section><!--/#about us--> 
	
	
	
	<section id="portfolio">
		<div class="container">
			<div class="container text-center entry-header wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
				<div class="col-sm-6 col-sm-offset-3">
					<h2>Our <span>Portfolio</span></h2>
					<p>Not sure what to call this section and therefore what to call it. Of course we do not need to keep all of the sections and it would be better just to take a section out than repeat ourselves.</p>
					<p>That doesn't mean that this or any other particular section should be made redundant. Perhaps the syle of this section would better suit something that's gone before (ie. the 'What we do' section</p>	
				</div>		
			</div>			
			<div id="portfolio-slider" class="carousel slide carousel-fade" data-ride="carousel">
				<div class=" carousel-inner wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms">
					<div class="item active row">
						<div class="col-sm-6">
							<div class="recent-port-img animated fadeInUpBig">
								<img class="img-responsive" src="assets/images/portfolio/slide1.jpg" alt="portfolio" />
							</div>							
						</div>
						<div class="col-sm-6 default-bg">
							<div class="recent-port-text animated fadeInDownBig">
								<h2>Recent Project</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
								<ul>
									<li><i class="fa fa-angle-double-right"></i> But also the leap into electronic typesetting, </li>
									<li><i class="fa fa-angle-double-right"></i> Remaining essentially unchanged. </li>
									<li><i class="fa fa-angle-double-right"></i> It was popularised in the 1960s with the release.</li>
									<li><i class="fa fa-angle-double-right"></i> Letraset sheets containing Lorem Ipsum passages  </li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item row">
						<div class="col-sm-6">
							<div class="recent-port-img animated fadeInUpBig">
								<img class="img-responsive" src="assets/images/portfolio/slide2.jpg" alt="portfolio" />
							</div>							
						</div>
						<div class="col-sm-6 default-bg">
							<div class="recent-port-text animated fadeInDownBig">
								<h2>Recent Project</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
								<ul>
									<li><i class="fa fa-angle-double-right"></i> But also the leap into electronic typesetting, </li>
									<li><i class="fa fa-angle-double-right"></i> Remaining essentially unchanged. </li>
									<li><i class="fa fa-angle-double-right"></i> It was popularised in the 1960s with the release.</li>
									<li><i class="fa fa-angle-double-right"></i> Letraset sheets containing Lorem Ipsum passages  </li>
								</ul>
							</div>
						</div>
					</div>
					<div class="item row">
						<div class="col-sm-6">
							<div class="recent-port-img animated fadeInUpBig">
								<img class="img-responsive" src="assets/images/portfolio/slide3.jpg" alt="portfolio" />
							</div>							
						</div>
						<div class="col-sm-6 default-bg">
							<div class="recent-port-text animated fadeInDownBig">
								<h2>Recent Project</h2>
								<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries </p>
								<ul>
									<li><i class="fa fa-angle-double-right"></i> But also the leap into electronic typesetting, </li>
									<li><i class="fa fa-angle-double-right"></i> Remaining essentially unchanged. </li>
									<li><i class="fa fa-angle-double-right"></i> It was popularised in the 1960s with the release.</li>
									<li><i class="fa fa-angle-double-right"></i> Letraset sheets containing Lorem Ipsum passages  </li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<ol class="carousel-indicators">
					<li data-target="#portfolio-slider" data-slide-to="0" class="active"></li>
					<li data-target="#portfolio-slider" data-slide-to="1"></li>
					<li data-target="#portfolio-slider" data-slide-to="2"></li>
				</ol><!--/.carousel-indicators-->
			</div>
			<div id="folio-items" class="portfolios wow fadeInUpBig" data-wow-duration="1500ms" data-wow-delay="300ms">
				<ul class="portfolio-filter text-center">                                         
					<li><a class="active" href="#" data-filter="*">All</a></li>
					<li><a href="#" data-filter=".animation">Animation</a></li>
					<li><a href="#" data-filter=".architecture">Architecture</a></li>
					<li><a href="#" data-filter=".creative">Creative</a></li>
					<li><a href="#" data-filter=".video">Video</a></li>
					<li><a href="#" data-filter=".web">Web</a></li>
					<li><a href="#" data-filter=".corporate">Corporate</a></li>
					<li><a href="#" data-filter=".business">Business</a></li>
				</ul><!--/#portfolio-filter-->
				
				<div class="row portfolio-items">
					<div class="col-sm-4 portfolio-item architecture business">
						<div class="view">
							<div class="portfolio-image">
								<img class="img-responsive" src="assets/images/portfolio/1.jpg" alt="">
							</div>	
							<div class="mask">
								<a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 portfolio-item animation web corporate">
						<div class="view">
							<div class="portfolio-image">
								<img class="img-responsive" src="assets/images/portfolio/2.jpg" alt="">
							</div>	
							<div class="mask">
								<a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 portfolio-item video creative">
						<div class="view">
							<div class="portfolio-image">
								<img class="img-responsive" src="assets/images/portfolio/3.jpg" alt="">
							</div>	
							<div class="mask">
								<a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 portfolio-item animation architecture">
						<div class="view">
							<div class="portfolio-image">
								<img class="img-responsive" src="assets/images/portfolio/4.jpg" alt="">
							</div>	
							<div class="mask">
								<a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 portfolio-item architecture creative web">
						<div class="view">
							<div class="portfolio-image">
								<img class="img-responsive" src="assets/images/portfolio/5.jpg" alt="">
							</div>	
							<div class="mask">
								<a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 portfolio-item animation web video">
						<div class="view">
							<div class="portfolio-image">
								<img class="img-responsive" src="assets/images/portfolio/6.jpg" alt="">
							</div>	
							<div class="mask">
								<a href="#" data-single_url="single-portfolio.html"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>					
				</div>								
			</div>
		</div>
		<div id="portfolio-details">
			<div id="single-portfolio">
	    		
	    	</div>
    	</div><!-- /#portfolio-details-->
	</section><!--/#portfolio-->
	
	<section id="clients">
		<div class="container">
			<div class="row text-center entry-header wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
				<div class="col-sm-6 col-sm-offset-3">
					<h2>Our <span>sponsors and/or partners?</span></h2>
					<p>We can put a whole lot of links in here.</p>
				</div>		
			</div>
			<div id="clients-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner wow flipInX" data-wow-duration="1200ms" data-wow-delay="500ms">
					<div class="item active">						
						<ul>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon1.png" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon2.png" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon3.png" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon4.png" alt="" /></a></li>
						</ul>
					</div>
					<div class="item">
						<ul>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon1.png" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon2.png" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon3.png" alt="" /></a></li>
							<li><a class="img-responsive" href="#"><img src="assets/images/icon4.png" alt="" /></a></li>
						</ul>
					</div>
				</div>
				<a class="client-left" href="#clients-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
				<a class="client-right" href="#clients-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
			</div>
		</div>
	</section><!--/#clients--> 	
	
	{% include blog.html %}
	
	{% include footer.html %}
	
	<!--/Scripts--> 
    
    {% include scripts.html %}
    		
</body>
</html>