<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

<body>
	
	{% include loader.html %}
	
	{% include header.html %}

    {% include maincarousel.html %}
	
	{% include services.html %}
	
	<section id="about-us">
		
		{% include about.html %}
		
		{% include team.html %}
		
	</section><!--/#about us--> 
	
	
	{% include portfolio.html %}
	
	{% include clients.html %}
	
	
	
	
	{% include blog.html %}
	
	{% include footer.html %}
	
	<!--/Scripts--> 
    
    {% include scripts.html %}
    		
</body>
</html>